*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{

    font-family: 'Poppins', sans-serif;
}


nav{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#14274e;

}


.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 24px;
}

.logo h4 a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    

}

.nav_links {
    position: sticky;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.nav_links a {
    text-decoration: none;
    color: rgb(226,226,226);
    letter-spacing: 2px;
    font-size: 14px ;
    font-weight: bold;

}

.nav_links li {
    list-style: none;
}

.nav_links li:hover{
    border-bottom: 2px solid ;
    color: white;
}
 
.nav_links li button  {
    position: relative;
    padding:10px;
    border: none;
    margin:10px;
    color: rgba(21, 23, 22, 0.4);
    border-radius: 0.12em;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    text-align: center;
    transition: 250ms ease-in-out,
                transform 150ms ease;
   --webkit-appearance: none;
   --moz-appearance: none;
}

.nav_links li button a {
    color:black;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none ;
}

button:hover,
button:focus {
    background:wheat;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}
.burger{
    display: none;
    cursor: pointer;
}

.burger div {
 width: 25px;
 height: 3px;
 background-color: white;
 color: rgb(226, 226, 226);
 margin:5px;
 transition:all 0.3s ease ;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height:70vh;
    background-image: linear-gradient(0deg, rgba(21, 23, 22, 0.4), rgba(21, 28, 22, 0.4)), url('./hero_image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment:fixed;
    position:relative;
}

.team-section{
      height: 30vh;
      align-items: center;
}

.hero_section{
  position: absolute;
  left: 10%;
   display: flex;
   flex-direction: column;
}

.team-header{
    position: unset;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}


.hero_section h2{
       font-size: 50px;
       font-family:'Poppins', sans-serif;
       font-weight:550;
       margin-bottom: 15px;
       line-height: 60px;
       color: white;   
}

.team-header h2{
       font-size: 80px;
       margin-bottom: 30px;
}

.team-header p{
       font-size: 24px;
       text-align: center;
}

.hero_btn {
      padding: 10px;
      width: 30%;
      border: none;
}
  
.hero_btn a{ 
      text-decoration: none;
      border:none ;
      color: black;
}

.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 65%;
   left: 10%;
    z-index: 1;
    height: 30vh;
    width:80vw ;

}

.container .box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    width:20%;
    padding:10px;
    background: #F3F7F9;
    color:#14274e;
    box-shadow: 0 5px 4px rgba(0,0,0,.1);
    margin:0px;
    box-sizing: border-box;
    overflow: hidden;
}

/* executives section start here  */

.executives{
    padding:32px;
    height:200vh;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    background-color: #e5e5e5;
    justify-content:space-evenly;
    align-items: center;
}

.step{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}


.executive{
    height: 50vh;
    width: 45%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 0 5px 4px rgba(0,0,0,.1);
    border-radius: 8px;
}

.lower-executive{
    height: 50vh;
    width: 31%;
}

.executive_pic{
    height: 60%;
    width: 60%;
    background:url(./1st_client.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}


/* executives section ends here  */






.content {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.content h3{
    font-size: 14px;
    font-weight: 400;
    color: #1a1a1a;
    margin-top: 20px;
}


.container .box:hover{
    background-color:lightblue ;
    color: #ffffff;
}

.container h3:hover{
    color: #FFFFFF;
}


  
.service{
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background: #FFFFFF;
}

.offering_title{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}   

.offering_title h3 {
    font-size: 40px;
    font-weight: 500;
    margin-top:150px;   
}



.offering_content_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Offerings_container {
    margin-top: 80px;
    width: 90vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Offering_box{
position: relative;
width: 300px;
height: 350px;
background-color: #14274e;
box-shadow: 0 30px 30px rgba(0,0,0,.5);

}

.Offering_box .imgbx {
position: absolute;
top: 0;
left:0;
 width:100%;
height: 100%;
}

.Offering_box .imgbx img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.Offering_box .imgbx img:hover{
    opacity: 0;
}

.Offering_box .offering_content {

    position: absolute;
    bottom: 20px;
    left:10%;
    width: 80%;
    height: 60px;
    background-color:#fff;
    transition: 0.5s;
    overflow:hidden;
    padding:15px ;
    box-sizing: border-box;
}


.Offering_box:hover .offering_content {
    height: 100%;
    width: 100%;
    bottom:0;
    left:0;
}

.Offering_box .offering_content h3{
    margin:0;
    padding: 0;
    font-size: 20px;
    text-align: center;

}


.Offering_box .offering_content p{
    margin: 10px 0 0; 
    padding: 0;
    opacity:0 ;
    line-height: 1.2em;
    transition:0.5s ;
    text-align: justify;
}

.Offering_box:hover .offering_content p{
    opacity: 1;
    transition-delay: 0.5s;
}




.about_us{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 20px;
    height: 80vh;
    background-color: #14274e;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding:80px;
}

.cotent_section h2 {
    text-align: left;
    color: #fff;
    margin-bottom: 55px;
    font-size: 40px;
    letter-spacing: -1.8px;
    font-weight: 800;
}

.cotent_section p {
    font-size: 18px;
    line-height: 30px ;
    font-weight: 400;
    color: white;
}



.creative_section img {
        max-width: 80%;
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
        display: block;
    }

.testimonials{
    padding: 40px 0;
    background-color: #f1f1f1;
    color:#434343;
   text-align: center;
}

.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;

}

.border{
    width: 160px;
    height: 8px;
    background: #14274e;
    margin:26px auto ;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col{
    flex:33.33% ;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonail{
    background-color: #fff;
    padding:30px;
    box-shadow: 0 15px 10px rgba(0,0,0,.2);

}

.testimonail img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.testimonail h3{
    font-size:20px;
    font-weight:800;
    margin: 10px 0 ;
}

.testimonail h4{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.contact_section {
background-image: linear-gradient(0deg, rgb(92, 115, 161,0.7), rgba(92, 115, 161, 0.9)), url('./email_background.jpg');
background-repeat: no-repeat;
background-position: center;
background-size:cover;
position: relative;
padding: 80px 0;
text-align: center;
}

.inner_width{
    max-width:60%;
    margin: auto;
    padding: 0 20px;
}

.contact_section h2{
   font-size: 36px;
   color:white !important;
   margin-bottom: 40px;
   text-transform: uppercase;
   letter-spacing: 4px;
   font-weight: 500;
}



.name , .email, .message  {
     background:none; 
     border: none;
     outline: none;
     border-bottom: 1px solid;
     color: white;
     padding: 10px 6px;
     font-size:14px ;
     margin-bottom: 40px;
}

.name::placeholder , .email::placeholder, .message::placeholder {
    color:white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }
  

.name{
    float: left;
    width: 270px;
}

.email{
    float: right;
    width: 270px;
}

.message {
    min-width: 100%;
    max-width: 100%;

}

.contact_section .button  {

    background:none;
    color:white;
    border: 1px solid white;
    padding: 12px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.4s linear;
    text-decoration: none;
    cursor: pointer;
}
.contact_section .button:hover {

    background:black;
    border-radius: 8px;
    padding:12px 40px;
    color:white;
    border: none;
    text-decoration:none;
}

footer{
    bottom:0px;
    width:100%;
    background:black;
    color: rgb(191, 180, 180);
  
}

.main-content{
    display: flex;
}

.main-content p {
    font-size: 14px;
    text-align: left;
}


.main-content .box {

    flex-basis: 50%;
    padding: 60px 50px ;
}

.box h4 {

font-size: 20px;
font-weight: 500;
color: white;
text-transform: uppercase;
text-align:left;
}

.box .content{
   margin: 20px 0 0 0;
}

.left .content .social {
    margin: 20px 0 0 0 ; 
    text-align: left;   
}

.left .content .social a {
    padding: 0 2px;
}

.left .content .social a span {

    height:40px ;
    width: 40px;
    background: white;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    color: #14274e;
    transition: 0.3s;
}

.left .content .social a span:hover{
    background: #14274e;
    color:white;
}

.center .place , .center .phone {
    display: flex;
    font-size: 20px;
}


.center .content .place span  , .center .content .phone span , .center .content .place span {
margin-right: 30px;
}



.center span a {
    text-decoration: none;
    color: white;
}

/* Responsive section */
@media screen and (max-width:1024px){
    
    .nav_links {
        display: flex;
        width: 80%;
        justify-content: space-around;
        

    }
}


@media screen and (max-width:600px) {
   
    .logo{
        font-size: 1rem;
    }
    

     
    .nav_links{
        overflow-x: hidden;
        position: absolute;
        right:0px;
        height: 70vh;
        top:8vh;
        background-color:#14274e;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 2;
    }

    .nav_links li {
        opacity: 0;
    }
    
    .nav_links a {
        text-decoration: none;
        color: rgb(226,226,226);
        letter-spacing: 2px;
        font-size: 1rem ;
        font-weight: bold;
    }

    .team-header{
        width: 100%;
        display: flex;
        align-items: center;
    }


    .team-header h2{
        font-size: 3rem;
    }
 
    .team-header p{
        font-size: 0.8rem;
        text-align: center;
    }

    .executives{
    height: 290vh;
    display: block;
    padding: 16px 24px;
    justify-items: normal;

    }   

   .step {
       display:flex;
        flex-flow: column wrap;
        justify-content:space-around;
   }

   .firsttstep{
       height: 80vh;


   }

   .secondstep{
       height: 100vh;
       justify-content: space-around;
   }

   .executive{
       height: 30vh;
       width: 80%;
       justify-content: center;
   }

  .executive h3{
      font-size: 1rem;
  }

    .container{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 65%;
       left:0%;
        z-index: 1;
        height: 30vh;
        width:100vw ;
    
    }

    .container .box {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 15vh;
        width:20%;
        padding:10px;
        background: #F3F7F9;
        box-shadow: 0 5px 4px rgba(0,0,0,.1);
        margin:0px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .content {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }
    
    .content h3{
        font-size: 10px;
        font-weight: 400;
        color: green;
        margin-top: 20px;
    }


    .cotent_section h2 {
        text-align: center;
        color: #fff;
        margin-bottom: 15px;
        font-size: 30px;
        letter-spacing: -1.8px;
        font-weight: 500;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .hero{
        overflow-x: hidden;
    }
    .hero_section h2{
        font-size:26px;
        font-family:'Poppins', sans-serif;
        font-weight:600;
        margin-bottom: 10px;
        color: white;
        text-align: left;
    }

    .hero_btn {
        padding: 5px;
        width: 50%;
    }

    br{
        display: none;
    }

    .about_us{
        display:block;
        height: 80vh;
        justify-content:space-around;
        align-items: center;
        margin: 0 auto;
        padding:20px;
        text-align: center;
    }

    .cotent_section{
        height: 40%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        
    }
    
    
    .cotent_section h2{
        font-size: 24px;

    }

    .cotent_section p {
        font-size: 10px;
        line-height: 18px ;
        font-weight: 400;
        color: white;
    }


    .creative_section img {
        height: auto;
        max-width: 100vw;
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
    }


    .col{
        flex:100%;
        max-width: 80%;

    }
     

    .Offerings_container {
        margin: 20px;
        width: 100vw;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    

    .Offering_box .imgbx img {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
        
    }

    .Offering_box{
        margin-bottom: 20px;

    }



    .name , .email {
       width: 100%; 

   }

   .contact_section h2{
    font-size: 24px;
    color:black;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
 }


 .inner_width {
    max-width: 80%;
    margin: auto;
    padding: 0 20px;
 }

 .main-content{
    display: block;
    overflow-x: hidden;
 } 

 .main-content p {
    font-size: 14px;
    text-align:center;
 }
 .main-content .box {
    padding:40px ;
   }
 
   .box h4 {

    font-size: 20px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-align:center;
    }
    
    .box .content{
       margin: 20px 0 0 0;
    }
    
    .left .content .social {
        margin: 20px 0 0 0 ; 
        text-align: center;   
    }
    
    .center .content .place span  , .center .content .phone span , .center .content .place span {
        margin-right: 5px;
        }
    
        .center span  p {
            text-decoration: none;
            color: white;
            text-align: center;

        }

}

.nav-active {
    transform: translateX(0%);
    display: flex;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
    opacity: 1;
    transform: translateX(0px);
    }
}


.nav_links li  .nav-active{
    transform: translateX(0%);

    
 }








 /* .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
 .line2 {
   opacity: 0;
}
.line3{
    transform: rotate(45deg) translate(-5px,-6px);
}  */



/* hero section  */




